
.messageContainer{
    padding:5px;
    width:fit-content
    
}

.colorDark{
    color:orange;

}
.colorwhite{
    color:white;
}
.backgroundBlue{
    background-color: blue;
}
.backgroundLight{
    background-color: cornsilk;
}
.sentText{
    width: 40%;
    height: fit-content;
    word-spacing: 10px;
}
.justify-start{
    justify-content:start;
}
.justify-end{
    justify-content:flex-end ;
}
.messageSentbox{
    width: max-content;
    border:4px solid white;
    height: max-content;
    padding: 5px;
}